#container-conteudo {
    position: fixed;
    top: 0;
    right: -26em;
    height: 100vh;
    width: 24em;
    background-color: var(--laranja);
    color: var(--branco);
    transition: 0.8s;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    box-shadow: 0.10em 0.25em 1em 0.10em var(--preto);
}

.carrinho {
    display: flex;
    justify-content: space-between;
    margin: 2em;
}

#fechar-carrinho {
    color: var(--branco);
    background-color: var(--laranja);
    border: none;
}

.card-produtos-carrinho {
    display: flex;
    position: relative;
    display: flex;
    background-color: var(--branco);
    border-radius: 10px;
    margin: 1em;
    padding: 1em;
}

.btn-card {
    position: absolute;
    border: none;
    left: 20.5em;
    color: var(--cor-borda);
}

.btn-card:hover {
    color: var(--preto)
}

.img-card-produtos-carrinho {
    width: 30%;
}

.card-descricao {
    margin: auto;
}

.titulo-decricao {
    color: var(--preto);
}

.tamanho-descricao {
    color: var(--cor-borda);
    padding: 1em 0;
}

.valor-descricao {
    color:  #65c565;
}

#preco-total {
    padding: 2em;
}

.btn-comprar {
    color: var(--laranja);
    background-color: var(--branco);
    border: solid 2px var(--branco);
    border-radius: 10px;
    padding: 0.25em;
    margin: 2em;
}