@import url(card.css);
@import url(navbar.css);
@import url(conteudo.css);

:root {
    --cor-borda: #B0A7A1;
    --cinza-escuro: #929292;
    --cor-de-fundo: #EBECEE;
    --branco: #FFFFFF;
    --laranja: #EB9B00;
    --laranja-claro: #E9A621;
    --preto: #000000;
}

body {
    font-family: "Poppins";
    font-size: 14px;
    background-color: var(--cor-de-fundo);
}
